/* Estilos globales y reset CSS */
@import url('./Assests/css-animation/style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo del escritorio */
#desktop {
    background-image: url('./Assests/Imag/mike-meyers-v8XaVfyo41Q-unsplash\ \(1\).jpg'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Barra de programas */
#taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #272727;
    display: flex;
    align-items: center;
}

#taskbar .button-inicio{
    width: 70px;
    height: 35px;
    background-color: #004e98;
}

#search-bar{
    height: 35px;
    width: 15rem;
}


/* Iconos de la barra de tareas */
#taskbar .icon {
    width: 60px;
    height: 20px;
    margin: 0 15px;
} 

/* Ventana de la aplicación */
#script-window {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000203 0%, #00345E 85%, #5a9dcf 100%);
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

/* Barra de título de la ventana */
#script-window .title-bar {
    width: 100%;
    background-color: #2b2c2c;
    color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    font-family:"New Amsterdam", sans-serif;

}

/* Botones de la barra de título */
#script-window .title-bar .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Icono de escritorio */
#icon-desktop {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

/* Estilos del contenedor de la ventana */
#script-window-content {
    flex: 1;
    position: relative;
    width: 100%;
    padding: 20px;
    overflow: auto;
}

.conteiner-sesion{
    display: inline;
}

main {
    display: inline-block;
    flex: 1;
    width: 50%;
    padding: 15px; /* Menor padding */
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 15px; /* Menor margen */
    font-family:"New Amsterdam", sans-serif;
}
.titulo-p{
    color: #ffffff;
    position:absolute;
    top:45px ;
    right: 225px;
}

section {
    height: auto;
    margin-bottom: 15px; /* Menor margen */
    padding: 15px; /* Menor padding */
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Sombra más pequeña */
}
h2 {
    margin-top: 0;
    color: #004e98;
}

.text-input {
    width: 100%;
    height: 100px; /* Menor altura */
    margin-bottom: 10px;
    padding: 8px; /* Menor padding */
    border: 1px solid #000;
    background-color: #e4e4e4;
    color: #000;
    resize: none;
    border-radius:5px ;
    font-family: 'Courier New', monospace;
}
.action-button{
    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button-group {
    display: flex;
    gap: 10px;
}
.action-button-copy{
    background-color: #5a9dcf;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: black;
}
.action-button-copy:hover{
    background-color: transparent;
    border: #000;
}


.result-output {
    padding: 10px;
    background-color: #e4e4e4;
    border: 1px solid #000;
    border-radius: 5px;
    min-height: 80px; /* Menor altura */
    color: #000;
    font-family: 'Courier New', monospace;
}

footer {
    background-color: #2c2d2e;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-top: 2px solid #000;
    font-family:"New Amsterdam", sans-serif;
}

